.header {
  background-color: #AFF4C6;
  width: 100%;
}

.main {
  padding: 20px;
}

.hero {
  background-color: #B3B3B3;
  padding: 8px;
}

.article {
  display: flex;
  width: 100%;
}

.contents {
  width: 70%;
  height: 70vh;
  background-color: #FFC7C2;
  padding: 8px;
}

.sidebar {
  width: 30%;
  height: 70vh;
  background-color: #BDE3FF;
  padding: 8px;
}

.footer {
  background-color: #AFF4C6;
  text-align: center;
  width: 100%;
}