.header {
  background-color: #AFF4C6;
  width: 100%;
}

.hero {
  background-color: #B3B3B3;
}

.article {
  width: 100%;
}

.contents {
  background-color: #FFC7C2;
}

.sidebar {
  background-color: #BDE3FF;
}

.footer {
  background-color: #AFF4C6;
  width: 100%;
}