* {
  margin: 0;
}

.header {
  background-color: #AFF4C6;
  width: 100%;
}

.main {
  display: flex;
  justify-content: center;
}

.contents {
  width: 700px;
  height: 70vh;
  margin: 20px;
  background-color: #FFC7C2;
}

.sidebar {
  width: 300px;
  height: 70vh;
  margin: 20px;
  background-color: #BDE3FF;
}

.footer {
  background-color: #AFF4C6;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}